h1,
.h1 {
  font-size: 2.027rem;
}

h2,
.h2 {
  font-size: 1.802rem;
}

h3,
.h3 {
  font-size: 1.602rem;
}

h4,
.h4 {
  font-size: 1.424rem;
}

h5,
.h5 {
  font-style: 1.266rem;
}

h6,
.h6 {
  font-size: 1.125rem;
}

small,
.small {
  font-size: 0.889rem;
}